@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
#who-we,
#who {
    background-color: #37474f;
    color: #fffefb;
    box-shadow: 2px 5px grey;
}