@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fdfcfa
}

.first {
    background-color: #A3ABB0;
    margin: 20px;
    }

.colcol{
    background:#37474f;
    box-shadow: #0c5460;
        }

.licensetext{
    text-align: justify;
    text-align: center;
    color:#fdfcfa;
}

.belicensep {
    text-align: justify;
    text-align: center;
    color:#fffaf0;
}

.btngetlicense{
    background-color:#c47062;
    border: transparent;
    color: #fdfcfa;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.btngetlicense:hover, .btngetlicense:active, .btngetlicense:visited, .btngetlicense:focus {
    background-color:#9c594e!important;
    border: none!important;
    outline-color: none!important;
    box-shadow: none!important;
}

.modal-backdrop {
    background-color: dimgrey;
}

.vet{
    display: block;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 50px;
}

.cost{
    text-align: justify;
    font-size: large;
    text-align: center;
    display: block;
}

.costm{
    text-align: justify;
    font-size: large;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.modaljonas{
    color: #fdfcfa;
    background-color: #37474f;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2) ;
    }

.inputjonas{
    background-color: #307697;
    color: #fdfcfa;
    border: transparent;
    }

.inputjonas[type=text]:focus {
    background-color: #307697;
    color: #fdfcfa;
    border: transparent;
}

.modal-body{
    padding-bottom: 8px;
}

.modal-footer{
    border-top: none;
    padding-top: 0px;
}

.btnaccjonas{
    background-color:#4B8378;
    border: transparent;
    color: #fdfcfa;
}
.btnaccjonas:hover, .btnaccjonas:active,.btnaccjonas:visited,.btnaccjonas:focus {
    background-color:#3c695f!important;
    border: none!important;
    outline-color: none!important;
    box-shadow: none!important;
    }

.btndecjonas{
    background-color: #c47062;
    border: transparent;
    color: #fdfcfa;
}
.btndecjonas:hover, .btndecjonas:active, .btndecjonas:visited, .btndecjonas:focus {
    background-color:#9c594e!important;
    border: none!important;
    outline-color: none!important;
    box-shadow: none!important;
    }