@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color:#fdfcfa;
}
.col-md-7{
    width: 250px;
  border: 15px solid lightgrey;
  margin: 10px;
    box-shadow: 5px 10px #888888;
}
.h1{
    font-style: oblique;
}